<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="db">
        <bean id="usersServiceDb" class="ru.itpark.service.UsersServiceImpl">
            <constructor-arg name="usersDao" ref="usersDaoDb"/>
        </bean>

        <bean id="usersDaoDb" class="ru.itpark.dao.UsersDaoJdbcImpl">
            <constructor-arg name="dataSource" ref="dataSource"/>
        </bean>

        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <constructor-arg name="username" value="postgres"/>
            <constructor-arg name="password" value="Zaq12wsx"/>
            <constructor-arg name="url" value="jdbc:postgresql://localhost:5432/itpark_group"/>
        </bean>
    </beans>
</beans>